/* Initial reset */
* {
  margin: 0;
  padding: 0;
}

@media (max-width: 530px) {
  .right-top-bar {
    margin-top: 10px;
  }
}

/* Global variables */
:root {
  --primary-red: #b94866;
  --secondary-red: #ce7f9b;
  --third-red: #e2b6cf;
  --primary-blue: #a8d0db;
  --secondary-blue: #2b4570;
}

/* Class selectors */
.active {
  color: var(--secondary-red) !important;
}

.navbar-brand {
  color: var(--primary-red) !important;
}

.top-bar {
  background-color: var(--primary-red);
  height: fit-content;
}

.right-top-bar {
  height: 100%;
  background-color: var(--third-red);
  clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%);
}

.navbar {
  box-shadow: 2px 6px 20px var(--primary-red);
}

.nav-link {
  cursor: pointer;
}

.nav-login {
  color: var(--primary-red) !important;
  transition: opacity 0.2s;
}

.nav-login:hover {
  opacity: 0.8;
}
/* id selectors */
